<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="breadcrumb breadcrumb-style">
          <li class="breadcrumb-item">
            <h4 class="page-title">{{'PatientForm'|translate}}</h4>
          </li>
          <li class="breadcrumb-item bcrumb-1">
            <a routerLink="/admin/dashboard/main">
              <i class="fas fa-home"></i>{{'Homepage'|translate}}</a
            >
          </li>
          <li class="breadcrumb-item bcrumb-2">
            <a onClick="return false;"
              >{{'Patients'|translate}}</a
            >
          </li>
          <li class="breadcrumb-item active">{{'PatientForm'|translate}}</li>
        </ul>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>{{'PatientForm'|translate}}</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="patientForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'IdentityNumber'|translate}}</mat-label>
                    <input
                      matInput
                      maxlength="11"
                      minlength="11"
                      formControlName="identityNumber"
                      required
                    />
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error
                      *ngIf="
                        patientForm
                          .get('identityNumber')
                          .hasError('required') &&
                        patientForm.get('identityNumber').touched
                      "
                    >
                    {{'IdentityNumber'|translate}} {{'Required'|translate}}
                    </mat-error>
                    <mat-error
                      *ngIf="
                        patientForm.get('identityNumber').hasError('minlength')
                      "
                    >
                    {{'IdentityNumber'|translate}} {{'Required'|translate}} {{'CurrentValue'|translate}}:
                      {{ patientForm.get("identityNumber").value.length }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'PhoneNumber'|translate}}</mat-label>
                    <input
                      matInput
                      mask="(000) 000-0000"
                      [showMaskTyped]="true"
                      formControlName="phoneNumber"
                      required
                    />
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error
                      *ngIf="
                        patientForm.get('phoneNumber').hasError('required') &&
                        patientForm.get('phoneNumber').touched
                      "
                    >
                    {{'PhoneNumber'|translate}} {{'Required'|translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'Name'|translate}}</mat-label>
                    <input matInput formControlName="name" required />
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error
                      *ngIf="
                        patientForm.get('name').hasError('required') &&
                        patientForm.get('name').touched
                      "
                    >
                    {{'Name'|translate}} {{'Required'|translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'SurName'|translate}}</mat-label>
                    <input
                      matInput
                      formControlName="surName"
                      type="text"
                      required
                    />
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error
                      *ngIf="
                        patientForm.get('surName').hasError('required') &&
                        patientForm.get('surName').touched
                      "
                    >
                    {{'SurName'|translate}} {{'Required'|translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'Gender'|translate}}</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option [value]="true"> {{'Male'|translate}} </mat-option>
                      <mat-option [value]="false"> {{'Female'|translate}} </mat-option>
                    </mat-select>
                    <mat-icon matSuffix
                      ><i class="fas fa-venus-mars"></i
                    ></mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'BloodGroup'|translate}}</mat-label>
                    <mat-select formControlName="bloodGroup">
                      <mat-option [value]="'A+'"> A+ </mat-option>
                      <mat-option [value]="'B+'"> B+ </mat-option>
                      <mat-option [value]="'O+'"> O+ </mat-option>
                      <mat-option [value]="'AB+'"> AB+ </mat-option>
                      <mat-option [value]="'A-'"> A- </mat-option>
                      <mat-option [value]="'B-'"> B- </mat-option>
                      <mat-option [value]="'O-'"> O- </mat-option>
                      <mat-option [value]="'AB-'"> AB- </mat-option>
                    </mat-select>
                    <mat-icon matSuffix><i class="fas fa-tint"></i></mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width">
                  <mat-label>{{'BirthDate'|translate}}</mat-label>
                  <input matInput [matDatepicker]="picker" placeholder="Tarih Seçiniz" formControlName="birthDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'photoUrl'|translate}}</mat-label>
                    <ngx-mat-file-input formControlName="photoUrl">
                    </ngx-mat-file-input>
                    <mat-icon matSuffix>add_a_photo</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'FatherName'|translate}}</mat-label>
                    <input matInput formControlName="fatherName" type="text" />
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'MotherName'|translate}}</mat-label>
                    <input matInput formControlName="motherName" type="text" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'Address'|translate}}</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'Note'|translate}}</mat-label>
                    <textarea matInput formControlName="note"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'MaritalStatus'|translate}}</mat-label>
                    <mat-select formControlName="maritalStatus">
                      <mat-option [value]="true"> {{'Married'|translate}} </mat-option>
                      <mat-option [value]="false"> {{'Single'|translate}} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'Country'|translate}}</mat-label>
                    <input matInput formControlName="country" type="text" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'Region'|translate}}</mat-label>
                    <input matInput formControlName="region" />
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'City'|translate}}</mat-label>
                    <input matInput formControlName="city" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'Nationality'|translate}}</mat-label>
                    <mat-select formControlName="nationality">
                      <mat-option [value]="'T.C'"> {{'TC'|translate}} </mat-option>
                      <mat-option [value]="'diğer'"> {{'Other'|translate}} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'isTrobule'|translate}}</mat-label>
                    <mat-select formControlName="isTrobule">
                      <mat-option [value]="true"> {{'Yes'|translate}} </mat-option>
                      <mat-option [value]="false"> {{'No'|translate}} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'Job'|translate}}</mat-label>
                    <input matInput formControlName="job" />
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'UsingSmoke'|translate}}</mat-label>
                    <mat-select formControlName="usingSmoke">
                      <mat-option [value]="true"> {{'Yes'|translate}} </mat-option>
                      <mat-option [value]="false"> {{'No'|translate}} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'UsingAlcohol'|translate}}</mat-label>
                    <mat-select formControlName="usingAlcohol">
                      <mat-option [value]="true"> {{'Yes'|translate}} </mat-option>
                      <mat-option [value]="false"> {{'No'|translate}} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'SmsConfirm'|translate}}</mat-label>
                    <mat-select formControlName="smsConfirm">
                      <mat-option [value]="true"> {{'Yes'|translate}} </mat-option>
                      <mat-option [value]="false"> {{'No'|translate}} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'GdprConfirm'|translate}}</mat-label>
                    <mat-select formControlName="gdprConfirm">
                      <mat-option [value]="true"> {{'Yes'|translate}} </mat-option>
                      <mat-option [value]="false"> {{'No'|translate}} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'eMail'|translate}}</mat-label>
                    <input matInput formControlName="eMail" type="email" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button
                    class="mr-3"
                    [disabled]="!patientForm.valid"
                    mat-raised-button
                    color="primary"
                  >
                  {{'Save'|translate}}
                  </button>
                  <button type="button" mat-button>{{'Cancel'|translate}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
