<div class="container">
  <h3 mat-dialog-title>{{'DeleteConfirm'|translate}}</h3>
  <div mat-dialog-content>
    <ul class="clearfix">
      <li>
        <p><span class="font-weight-bold">{{'FormTableId'|translate}}: </span>{{ data.formTableId }}</p>
      </li>
      <li>
        <p><span class="font-weight-bold">{{'Status'|translate}}: </span>
          <ng-container *ngIf="data.isOpen == true; else elseTemplate">
            {{'Open'|translate}}
          </ng-container>
          <ng-template #elseTemplate>{{'Close'|translate}}</ng-template></p>
      </li>
      <li>
        <p><span class="font-weight-bold">{{'Label'|translate}}: </span>{{ data.label }}</p>
      </li>
      <li>
        <p><span class="font-weight-bold">{{'Type'|translate}}: </span>{{ data.type }}</p>
      </li>
      <li *ngFor="let fieldValue of formFieldSelectionValue; index as i">
        <p>
          <span class="font-weight-bold">{{'FormFieldProcesses'|translate}} {{i+1}}: </span
          >{{ fieldValue.value }}
        </p>
      </li>
    </ul>
  </div>
  <div mat-dialog-actions class="mb-1">
    <button
      mat-flat-button
      color="warn"
      (click)="confirmDelete()"
    >
    {{'Delete'|translate}}
    </button>
    <button mat-flat-button (click)="onNoClick()" tabindex="-1">{{'Cancel'|translate}}</button>
  </div>
</div>
