<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Blank</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Extra</a>
            </li>
            <li class="breadcrumb-item active">Blank</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2><strong>Blank</strong> Page</h2>
          </div>
          <div class="body">

            <!-- Add content here -->
            <!-- <div class="example-container" *ngFor="let form of dynamicFormArray"> -->
              <div class="example-container">
              <form [formGroup]="dynamicFormGroup">
                <div *ngFor="let control of dynamicFormArray[0].fields">
                  <div [ngSwitch]="control.type">
                    <div class="row" *ngSwitchCase="'input'">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>{{control.label}}</mat-label>
                        <input matInput [formControlName]="control.formControlName">
                      </mat-form-field>
                      </div>
                    </div>
                    <div class="row" *ngSwitchCase="'select'">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>{{control.label}}</mat-label>
                          <mat-select [formControlName]="control.formControlName">
                            <mat-option *ngFor="let option of control.values" [value]="option.value">{{option.value}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        </div>
                    </div>
                    <div class="row" *ngSwitchCase="'radio'">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>{{control.label}}</mat-label>
                          <mat-radio-group [formControlName]="control.formControlName">
                            <mat-radio-button *ngFor="let value of control.values" class="example-margin" value="{{value}}">{{value}}</mat-radio-button>
                          </mat-radio-group>
                        </mat-form-field>
                        </div>
                    </div>
                    <div class="row" *ngSwitchCase="'date'">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>{{control.label}}</mat-label>
                          <input [formControlName]="control.formControlName" matInput [matDatepicker]="picker">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            {{dynamicFormGroup.value | json}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
