<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            {{'Change Password'|translate}}
          </div>
        </div>
      </div>
    </div>
    <button
      mat-icon-button
      (click)="dialogRef.close()"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form
      class="register-form m-4"
      [formGroup]="passwordForm"
      (ngSubmit)="submit()"
    >
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>{{'Password'|translate}}</mat-label>
                <input matInput formControlName="password" type="password" />
                <mat-error *ngIf="passwordForm.get('password')!.hasError('required')&& passwordForm.get('password')!.touched">
                  {{'Password'|translate}} {{'Required'| translate}}
                </mat-error>
              </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>{{'ConfirmPassword'|translate}}</mat-label>
                  <input matInput formControlName="confirmPassword" type="password" />
                  <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('required')&& passwordForm.get('confirmPassword').touched">
                    {{'ConfirmPassword'|translate}} {{'Required'| translate}}
                  </mat-error>
                </mat-form-field>
                </div>
            </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button
              mat-raised-button
              color="primary"
              [type]="submit"
              [disabled]="!passwordForm.valid"
            >
            {{'Save' |translate}}
            </button>
            <button
            type="button"
              mat-raised-button
              color="warn"
              (click)="onNoClick()"
              tabindex="-1"
            >
            {{'Cancel' |translate}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
