<section class="content">
  <div *ngIf="patientForWorkingDto" class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style">
            <li class="breadcrumb-item">
              <h4 class="page-title">{{'WorkingList'|translate}}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/patient/dashboard">
                <i class="fas fa-home"></i> {{'Homepage'|translate}}</a
              >
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a *ngIf="checkClaim('GetPatientDataQuery')" routerLink="/admin/patients/all-patients/patient-detail/{{ patientForWorkingDto.patientId }}">{{ patientForWorkingDto.name }} {{ patientForWorkingDto.surName }}</a>
            </li>
            <li class="breadcrumb-item active" style="cursor: pointer;"><a onclick="return false">{{'ProtocolId'|translate}}:#{{protocolId}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="info-box6 primary">
          <i class="fas fa-money-bill-wave"></i>
          <span class="count-numbers">{{ totalPrice |number:'1.0-2'}}{{'Currency'|translate}}</span>
          <span class="count-name">{{'Total'|translate}}</span>
          <input hidden name="totalPrice" [(ngModel)]="totalPrice" />
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box6 danger">
          <i class="fas fa-percent"></i>
          <span class="count-numbers" *ngIf="(discount);else noDiscount">{{ discount |number:'1.0-2'}}{{'Currency'|translate}}</span>
            <ng-template #noDiscount><span class="count-numbers">%0</span></ng-template>
          <span class="count-name">{{'Discount'|translate}}</span>
          <input hidden name="discount" [(ngModel)]="discount" />
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box6 success">
          <i class="fas fa-check-circle"></i>
          <span class="count-numbers">{{ paidValue |number:'1.0-2'}}{{'Currency'|translate}}</span>
          <span class="count-name">{{'Paid'|translate}}</span>
          <input hidden name="paidValue" [(ngModel)]="paidValue" />
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box6 info">
          <i class="fas fa-minus-circle"></i>
          <span class="count-numbers">{{ arrearsValue |number:'1.0-2'}}{{'Currency'|translate}}</span>
          <span class="count-name">{{'Arrears'|translate}}</span>
          <input
                      hidden
                      name="arrearsValue"
                      [(ngModel)]="arrearsValue"
                    />
        </div>
      </div>
    </div>
    <!-- Hizmet Bölümleri -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
                <div class="table-responsive" *ngIf="dataSource">
                  <div class="materialTableHeader">
                    <div class="row">
                      <div class="col-8">
                        <ul class="header-buttons-left ml-0">
                          <li class="dropdown">
                            <h2>
                              <strong>{{'WorkingList'|translate}}</strong>
                            </h2>
                          </li>
                          <li class="dropdown m-l-20">
                            <label for="search-input"
                              ><i class="material-icons search-icon"
                                >search</i
                              ></label
                            >
                            <input
                              placeholder="{{'Filter'|translate}}"
                              type="text"
                              (keyup)="applyFilter($event.target.value)"
                              class="browser-default search-field"
                              aria-label="Search box"
                            />
                          </li>
                          <li>
                            <div
                            *ngIf="checkClaim('DeleteWorkingCommand')"
                              class="icon-button-demo m-l-10"
                              [hidden]="!selection.hasValue()"
                            >
                              <button
                                mat-mini-fab
                                color="warn"
                                (click)="removeSelectedRows()"
                              >
                                <mat-icon class="col-white">delete</mat-icon>
                              </button>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-4">
                        <ul class="header-buttons">
                          <li>
                            <div class="icon-button-demo">
                              <button
                                mat-mini-fab
                                color="primary"
                                (click)="exportTable()"
                              >
                                <mat-icon
                                  class="col-white fas fa-barcode"
                                ></mat-icon>
                              </button>
                            </div>
                          </li>
                          <li>
                            <div class="icon-button-demo">
                              <button
                                mat-mini-fab
                                color="primary"
                                (click)="exportTable()"
                              >
                                <mat-icon class="col-white">print</mat-icon>
                              </button>
                            </div>
                          </li>
                          <li>
                            <div class="icon-button-demo">
                              <button
                                mat-mini-fab
                                color="primary"
                                (click)="openInvoiceToNewTab()
                                "
                              >
                                <mat-icon
                                  class="col-white fas fa-file-invoice"
                                ></mat-icon>
                              </button>
                            </div>
                          </li>
                          <li>
                            <div class="icon-button-demo">
                              <button
                                mat-mini-fab
                                color="primary"
                                (click)="
                                  exporter.exportTable('xlsx', {
                                    fileName: 'protokol-excel'
                                  })
                                "
                              >
                                <mat-icon
                                  class="col-white fas fa-file-excel"
                                ></mat-icon>
                              </button>
                            </div>
                          </li>
                          <li>
                            <div class="icon-button-demo">
                              <button
                                mat-mini-fab
                                color="primary"
                                (click)="refresh()"
                              >
                                <mat-icon class="col-white">refresh</mat-icon>
                              </button>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <mat-table
                    id="Table"
                    hiddenColumns="[7]"
                    matTableExporter
                    #exporter="matTableExporter"
                    #sort="matSort"
                    [dataSource]="dataSource"
                    matSort
                    class="mat-cell"
                  >
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                      <mat-header-cell
                        *matHeaderCellDef
                        [ngClass]="'tbl-col-width-per-6'"
                      >
                        <mat-checkbox
                          (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="
                            selection.hasValue() && !isAllSelected()
                          "
                          [ngClass]="'tbl-checkbox'"
                        >
                        </mat-checkbox>
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"
                        [ngClass]="'tbl-col-width-per-6'"
                      >
                        <mat-checkbox
                          (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [ngClass]="'tbl-checkbox'"
                        >
                        </mat-checkbox>
                      </mat-cell>
                    </ng-container>
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header
                        >{{'ID'|translate}}</mat-header-cell
                      >
                      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="workingDateTime">
                      <mat-header-cell *matHeaderCellDef mat-sort-header
                        >{{'WorkingDateTime'|translate}}</mat-header-cell
                      >
                      <mat-cell *matCellDef="let row">
                        {{ row.workingDateTime | date: "MM/dd/yyyy" }}</mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="groupName">
                      <mat-header-cell *matHeaderCellDef mat-sort-header
                        >{{'GroupName'|translate}}</mat-header-cell
                      >
                      <mat-cell *matCellDef="let row">
                        {{ row.groupName }}</mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="processName">
                      <mat-header-cell
                        [ngClass]="'tbl-col-width-per-11'"
                        *matHeaderCellDef
                        mat-sort-header
                        >{{'ProcessName'|translate}}</mat-header-cell
                      >
                      <mat-cell
                        [ngClass]="'tbl-col-width-per-11'"
                        *matCellDef="let row"
                      >
                        {{ row.processName }}</mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                      <mat-header-cell
                        [ngClass]="'tbl-col-width-per-11'"
                        *matHeaderCellDef
                        mat-sort-header
                        >{{'Quantity'|translate}}</mat-header-cell
                      >
                      <mat-cell
                        [ngClass]="'tbl-col-width-per-11'"
                        *matCellDef="let row"
                      >
                        {{ row.quantity }}</mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="price">
                      <mat-header-cell
                        [ngClass]="'tbl-col-width-per-11'"
                        *matHeaderCellDef
                        mat-sort-header
                        >{{'Price'|translate}}</mat-header-cell
                      >
                      <mat-cell
                        [ngClass]="'tbl-col-width-per-11'"
                        *matCellDef="let row"
                      >
                        {{ row.price|number:'1.0-2' }}</mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="nonTaxablePrice">
                      <mat-header-cell
                        [ngClass]="'tbl-col-width-per-11'"
                        *matHeaderCellDef
                        mat-sort-header
                        >{{'NonTaxablePrice'|translate}}</mat-header-cell
                      >
                      <mat-cell
                        [ngClass]="'tbl-col-width-per-11'"
                        *matCellDef="let row"
                      >
                        {{ row.nonTaxablePrice|number:'1.0-2' }}</mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="saleValue">
                      <mat-header-cell
                        [ngClass]="'tbl-col-width-per-11'"
                        *matHeaderCellDef
                        mat-sort-header
                        >{{'Discount'|translate}}</mat-header-cell
                      >
                      <mat-cell
                        [ngClass]="'tbl-col-width-per-11'"
                        *matCellDef="let row"
                      >
                        {{ row.saleValue |number:'1.0-2'}}</mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="paidValue">
                      <mat-header-cell
                        [ngClass]="'tbl-col-width-per-11'"
                        *matHeaderCellDef
                        mat-sort-header
                        >{{'Paid'|translate}}</mat-header-cell
                      >
                      <mat-cell
                        [ngClass]="'tbl-col-width-per-11'"
                        *matCellDef="let row"
                      >
                        {{ row.paidValue|number:'1.0-2' }}</mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="arrearsValue">
                      <mat-header-cell
                        [ngClass]="'tbl-col-width-per-11'"
                        *matHeaderCellDef
                        mat-sort-header
                        >{{'Arrears'|translate}}</mat-header-cell
                      >
                      <mat-cell
                        [ngClass]="'tbl-col-width-per-11'"
                        *matCellDef="let row"
                      >
                        {{ row.arrearsValue|number:'1.0-2' }}</mat-cell
                      >
                    </ng-container>
                    <!-- actions -->
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef class="pr-0"
                        >{{'Actions'|translate}}</mat-header-cell
                      >
                      <mat-cell
                        *matCellDef="let row; let i = index"
                        class="pr-0"
                      >
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item [matMenuTriggerFor]="protocolProcesses">
                            <mat-icon>group</mat-icon>
                            <span>{{'WorkingProcesses'|translate}}</span>
                          </button>
                        </mat-menu>
                        <mat-menu #protocolProcesses="matMenu">
                          <button *ngIf="row.saleValue!>0;else noDiscount" mat-menu-item matTooltip="{{'CantDeleteAppliedDiscountWorking'|translate}}"  matTooltipClass="tooltip-red"
                          disabled

                          >
                          <mat-icon>edit</mat-icon
                          >
                            <span>{{'Edit'|translate}}</span>
                          </button>
                          <ng-template #noDiscount>
                            <button mat-menu-item
                            *ngIf="checkClaim('UpdateWorkingCommand')"

                          (click)="editCall(row)">
                          <mat-icon>edit</mat-icon
                        >
                        {{'Edit'|translate}}
                          </button>
                          </ng-template>
                          <button *ngIf="row.arrearsValue===0;else notZero" mat-menu-item matTooltip="{{'CantDeletePaidWorking'|translate}}"  matTooltipClass="tooltip-red"
                          disabled

                          >
                          <mat-icon>delete</mat-icon
                          >
                            <span>{{'Delete'|translate}}</span>
                          </button>
                          <ng-template #notZero>
                            <button mat-menu-item
                            *ngIf="checkClaim('DeleteWorkingCommand')"

                          (click)="deleteItem(row)">
                          <mat-icon>delete</mat-icon
                        >
                        {{'Delete'|translate}}
                          </button>
                          </ng-template>
                        </mat-menu>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row
                      *matHeaderRowDef="displayedColumns"
                    ></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns">
                    </mat-row>
                  </mat-table>
                  <div
                *ngIf="workingService.isTblLoading"
                class="tbl-spinner"
              >
                <mat-progress-spinner
                  color="primary"
                  [diameter]="40"
                  mode="indeterminate"
                >
                </mat-progress-spinner>
              </div>
                  <div
                *ngIf="!workingService.isTblLoading"
                class="no-results"
                [style.display]="
                  dataSource.data.length == 0 ? '' : 'none'
                "
              >
              <p class="alert alert-danger">{{'NoRecordsFound' |translate}}</p>
              </div>
                  <mat-paginator
                  #paginator="matPaginator"
                  [pageIndex]="0"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10]"
                  [length]="dataSource.filteredData.length"
                >
                </mat-paginator>
                </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fab-container">
      <div class="fab fab-icon-holder">
        <i class="fas fa-bars"></i>
      </div>

      <ul class="fab-options">
        <li *ngIf="checkClaim('CreateWorkingCommand')">
          <span class="fab-label">{{'AddWorking' |translate}}</span>
          <div class="fab-icon-holder">
            <i (click)="getProcessesDialog()" class="fas fa-plus-circle"></i>
          </div>
        </li>
        <li *ngIf="dataSource&&dataSource.data.length>=1&&checkClaim('CreateCollectionCommand');else noInvoices">
          <span class="fab-label">{{'AddInvoice' |translate}}</span>
          <div class="fab-icon-holder">
            <i (click)="addInvoices()" class="fas fa-file-invoice"></i>
          </div>
        </li>
        <ng-template #noInvoices>
          <li>
            <span class="fab-label">{{'AddInvoice' |translate}}</span>
          <div class="fab-icon-holder disabled">
            <i matTooltip="{{'CurrentWorkingNotFound' |translate}}"  matTooltipClass="tooltip-red" class="fas fa-file-invoice"></i>
          </div>
          </li>
        </ng-template>
        <li *ngIf="dataSource&&dataSource.data.length>=1&&checkClaim('CreateCollectionCommand');else noCollections">
          <span class="fab-label">{{'AddCollection' |translate}}</span>
          <div class="fab-icon-holder">
            <i (click)="getCollectionsDialog()" class="fas fa-user-plus"></i>
          </div>
        </li>
        <ng-template #noCollections>
          <li>
            <span class="fab-label">{{'AddCollection' |translate}}</span>
          <div class="fab-icon-holder disabled">
            <i matTooltip="{{'CurrentWorkingNotFound' |translate}}"  matTooltipClass="tooltip-red" class="fas fa-user-plus"></i>
          </div>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</section>
