<div class="container">
    <h3 mat-dialog-title>{{'DeleteConfirm'|translate}}</h3>
    <div mat-dialog-content>
      <ul class="clearfix">
        <li>
          <p><span class="font-weight-bold">{{'TypeName'|translate}}: </span>{{ data.row.typeName }}</p>
        </li>
        <li>
            <p><span class="font-weight-bold">{{'PatientName'|translate}} {{'SurName'|translate}}: </span>{{ data.row.patientName }} {{ data.row.patientSurname }}</p>
        </li>
        <li>
          <p><span class="font-weight-bold">{{'Department'|translate}}: </span>{{ data.row.departmentName }}</p>
        </li>
        <li>
          <p><span class="font-weight-bold">{{'InstitutionName'|translate}}: </span>{{ data.row.institutionName }}</p>
        </li>
        <li>
          <p><span class="font-weight-bold">{{'DateOfCome'|translate}}: </span>{{ data.row.dateOfCome}}</p>
        </li>
        <li>
          <p><span class="font-weight-bold">{{'DateOfLeave'|translate}}: </span>{{ data.row.dateOfLeave}}</p>
        </li>
      </ul>
    </div>
    <div mat-dialog-actions class="mb-1">
      <button
        mat-flat-button
        color="warn"
        (click)="confirmDelete()"
      >
      {{'Delete'|translate}}
      </button>
      <button mat-flat-button (click)="onNoClick()" tabindex="-1">{{'Cancel'|translate}}</button>
    </div>
  </div>
