<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">{{'Dashboard'|translate}}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i>{{'Homepage'|translate}}</a>
            </li>
            <li class="breadcrumb-item active">{{'Dashboard'|translate}}</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div *ngIf="dailyReportDto" class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card1 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">{{'DailyAppointments'|translate}}</h5>
            <h2 class="text-right"><i class="fas fa-user-injured pull-left"></i><span>{{dailyReportDto.totalAppointmentOfDaily}}</span></h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card2 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">{{'DailyConfirmedAppointments'|translate}}</h5>
            <h2 class="text-right"><i class="far fa-calendar-check pull-left"></i><span>{{dailyReportDto.totalAppointmentOfDailyCome}}</span></h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card3 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">{{'DailyProcesses'|translate}}</h5>
            <h2 class="text-right"><i class="fas fa-stethoscope pull-left"></i><span>{{dailyReportDto.totalProcessOfDaily}}</span></h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card4 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">{{'DailyEarnings'|translate}}</h5>
            <h2 class="text-right"><i class="fas fa-calculator pull-left"></i><span>{{dailyReportDto.totalCollectionOfDaily}}{{'Currency'|translate}}</span></h2>
          </div>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="dailyReportDto" class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-purple">
              <i class="material-icons align-middle">assignment_ind</i>
            </div>
            <div class="float-right m-4">
              <div>
                <h5 class="pull-right">{{'DailyAppointments'|translate}}</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold pull-right mb-0"> {{dailyReportDto.totalAppointmentOfDaily}}</h3>
              </div>
            </div>
          </div>
          <div class="card-chart">
            <canvas baseChart [chartType]="'line'" [datasets]="cardChart1Data" [labels]="cardChart1Label"
              [options]="cardChart1" [legend]="true">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-orange">
              <i class="material-icons align-middle">assignment_turned_in</i>
            </div>
            <div class="float-right m-4">
              <div>
                <h5 class="pull-right">{{'DailyConfirmedAppointments'|translate}}</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold pull-right mb-0"> {{dailyReportDto.totalAppointmentOfDailyCome}}</h3>
              </div>
            </div>
          </div>
          <div class="card-chart">
            <canvas baseChart [chartType]="'line'" [datasets]="cardChart2Data" [labels]="cardChart2Label"
              [options]="cardChart2" [legend]="true">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-green">
              <i class="material-icons align-middle">content_cut</i>
            </div>
            <div class="float-right m-4">
              <div>
                <h5 class="pull-right">{{'DailyProcesses'|translate}}</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold pull-right mb-0"> {{dailyReportDto.totalProcessOfDaily}}</h3>
              </div>
            </div>
          </div>
          <div class="card-chart">
            <canvas baseChart [chartType]="'line'" [datasets]="cardChart3Data" [labels]="cardChart3Label"
              [options]="cardChart3" [legend]="true">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary bg-blue">
              <i class="material-icons align-middle">local_activity</i>
            </div>
            <div class="float-right m-4">
              <div>
                <h5 class="pull-right">{{'DailyEarnings'|translate}}</h5>
              </div>
              <div class="m-r-10 m-l-10">
                <h3 class="font-weight-bold pull-right mb-0"> {{dailyReportDto.totalCollectionOfDaily}}{{'Currency'|translate}}</h3>
              </div>
            </div>
          </div>
          <div class="card-chart">
            <canvas baseChart [chartType]="'line'" [datasets]="cardChart4Data" [labels]="cardChart4Label"
              [options]="cardChart4" [legend]="true">
            </canvas>
          </div>
        </div>
      </div>

    </div> -->
    <!-- #END# Widgets -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive" *ngIf="dataSource">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-6">
                    <ul class="header-buttons-left ml-0">
                      <li class="dropdown">
                        <h2>
                          <strong>{{'DailyAppointments'|translate}}</strong>
                        </h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"
                          ><i class="material-icons search-icon"
                            >search</i
                          ></label
                        >
                        <input
                          placeholder="{{ 'Filter' | translate }}"
                          type="text"
                          (keyup)="applyFilter($event.target.value)"
                          class="browser-default search-field"
                          aria-label="Search box"
                        />
                      </li>
                    </ul>
                  </div>
                  <div class="col-6">
                    <ul class="header-buttons">
                      <li>
                        <div class="icon-button-demo">
                          <button
                            mat-mini-fab
                            color="primary"
                            (click)="refresh()"
                          >
                            <mat-icon class="col-white">refresh</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <mat-table
                #table
                [dataSource]="dataSource"
                matSort
                class="mat-cell"
              >
                <!-- ID Column -->
                <ng-container matColumnDef="appointmentNo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    "ID" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{
                    row.appointmentNo
                  }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="patientName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    "Name" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.patientName }}</mat-cell
                  >
                </ng-container>
                <ng-container matColumnDef="patientSurname">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    "SurName" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.patientSurname }}</mat-cell
                  >
                </ng-container>
                <ng-container matColumnDef="departmentName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    "DepartmentName" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.departmentName }}</mat-cell
                  >
                </ng-container>
                <ng-container matColumnDef="doctorName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    "DoctorName" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.doctorName }}</mat-cell
                  >
                </ng-container>

                <ng-container matColumnDef="doctorSurname">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    "DoctorSurName" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.doctorSurname }}</mat-cell
                  >
                </ng-container>
                <ng-container matColumnDef="time">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    "Time" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.time }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="typeName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    "TypeName" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.typeName }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="phoneNumber">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                    "PhoneNumber" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.phoneNumber }}</mat-cell
                  >
                </ng-container>
                <ng-container matColumnDef="patientHasArrive">
                  <mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    [ngClass]="'tbl-col-width-per-8'"
                    >{{ "Status" | translate }}
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                    [ngClass]="'tbl-col-width-per-8'"
                  >
                    <ng-container
                      *ngIf="row.patientHasArrive == true; else elseTemplate"
                    >
                      <button
                        [disabled]="true"
                        mat-icon-button
                        color="accent"
                        class="btn-tbl-check"
                      >
                        <mat-icon aria-label="Ok" class="col-white"
                          >check</mat-icon
                        >
                      </button>
                    </ng-container>
                    <ng-template #elseTemplate
                      ><button
                        [disabled]="true"
                        mat-icon-button
                        color="accent"
                        class="btn-tbl-close"
                      >
                        <mat-icon aria-label="Ok" class="col-white"
                          >close</mat-icon
                        >
                      </button></ng-template
                    >
                  </mat-cell>
                </ng-container>
                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef class="pr-0"
                    >{{'Actions'|translate}}</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row; let i = index" class="pr-0">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item
                      *ngIf="checkClaim('GetPatientDataQuery')"
                      routerLink="/admin/patients/all-patients/patient-detail/{{row.patientDataId}}"
                      >
                        <mat-icon>description</mat-icon>
                        <span>{{'PatientDetail'|translate}}</span>
                      </button>
                      <button mat-menu-item
                      routerLink="/admin/working/working-processes/{{row.protocolNo}}"
                      *ngIf="checkClaim('GetProtocolQuery')&&row.protocolNo">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>{{'ProtocolDetail'|translate}}</span>
                      </button>
                    </mat-menu>
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  matRipple
                >
                </mat-row>
              </mat-table>
              <!-- Loading spinner -->
              <div
                *ngIf="dashboardService.isTblLoading"
                class="tbl-spinner"
              >
                <mat-progress-spinner
                  color="primary"
                  [diameter]="40"
                  mode="indeterminate"
                >
                </mat-progress-spinner>
              </div>
              <div
                *ngIf="!dashboardService.isTblLoading"
                class="no-results"
                [style.display]="
                  dataSource.data.length == 0 ? '' : 'none'
                "
              >
              <p class="alert alert-danger">{{'NoRecordsFound' |translate}}</p>
              </div>
              <mat-paginator
                #paginator
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
              >
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i style="background-color: #fff;" class="fab fa-twitter fa-3x col-blue"></i>
          <div class="title p-t-15">
            <h3>Twitter</h3>
          </div>
          <div class="text p-b-10">
            <span>Lorem ipsum dolor sit amet, id quo eruditi
              eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui
              ad.</span>
          </div>
          <a href="#">Learn More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i style="background-color: #fff;" class="fab fa-instagram fa-3x col-red"></i>
          <div class="title p-t-15">
            <h3>Instagram</h3>
          </div>
          <div class="text p-b-10">
            <span>Lorem ipsum dolor sit amet, id quo eruditi
              eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui
              ad.</span>
          </div>
          <a href="#">Learn More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i style="background-color: #fff;" class="fab fa-facebook-f fa-3x col-blue"></i>
          <div class="title p-t-15">
            <h3>Facebook</h3>
          </div>
          <div class="text p-b-10">
            <span>Lorem ipsum dolor sit amet, id quo eruditi
              eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui
              ad.</span>
          </div>
          <a href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
