<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            {{'DoctorForm'|translate}}
          </div>
        </div>
      </div>
    </div>
    <button
      mat-icon-button
      (click)="dialogRef.close()"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form
      class="register-form m-4"
      [formGroup]="doctorForm"
      (ngSubmit)="submit()"
    >
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{'IdentityNumber'|translate}}</mat-label>
            <input
              maxlength="11"
              minlength="11"
              matInput
              formControlName="identityNumber"
              required
            />
            <mat-icon matSuffix>person</mat-icon>
            <mat-error
              *ngIf="doctorForm.get('identityNumber').hasError('required')"
            >
            {{'IdentityNumber'|translate}} {{'Required'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{'PhoneNumber'|translate}}</mat-label>
            <input
              matInput
              mask="(000) 000-0000"
              [showMaskTyped]="true"
              formControlName="phone"
              required
            />
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error
              *ngIf="
              doctorForm.get('phone').hasError('required') &&
              doctorForm.get('phone').touched
              "
            >
            {{'PhoneNumber'|translate}} {{'Required'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{'Name'|translate}}</mat-label>
            <input matInput formControlName="name" type="text" />
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="doctorForm.get('name').hasError('required')">
              {{'DoctorName'|translate}} {{'Required'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{'SurName'|translate}}</mat-label>
            <input matInput formControlName="surName" type="text" />
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="doctorForm.get('surName').hasError('required')">
              {{'DoctorSurName'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{'Speciality'|translate}}</mat-label>
            <input matInput formControlName="speciality" type="text" />
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="doctorForm.get('speciality').hasError('required')">
              {{'Speciality'|translate}} {{'Required'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{'Department'|translate}}</mat-label>
            <mat-select formControlName="departmentId" required>
              <mat-option *ngFor="let department of departments" [value]="department.id"> {{department.departmentName}} </mat-option>
            </mat-select>
            <mat-error
              *ngIf="doctorForm.get('departmentId').hasError('required')&&
              doctorForm.get('departmentId').touched"
            >
            {{'Department'|translate}} {{'Required'|translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button
              mat-raised-button
              color="primary"
              [type]="submit"
              [disabled]="!doctorForm.valid"
              (click)="confirmAdd()"
            >
            {{'Save'|translate}}
            </button>
            <button
              mat-raised-button
              type="button"
              color="warn"
              (click)="onNoClick()"
              tabindex="-1"
            >
            {{'Cancel'|translate}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
