<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style">
            <li class="breadcrumb-item">
              <h4 class="page-title">{{'Appointments'|translate}}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> {{'Homepage'|translate}}</a
              >
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a
                routerLink="/admin/patients/all-appointments"
                onClick="return false;"
                >{{'AppointmentList'|translate}}</a
              >
            </li>
            <li class="breadcrumb-item active">{{'AddAppointmentList'|translate}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> {{'CreateAppointmentList'|translate}} </strong></h2>
          </div>
          <div class="body">
            <form
              class="m-4"
              [formGroup]="createAppointmentsForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'DateRange'|translate}}</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input
                        matStartDate
                        placeholder="{{'StartDate'|translate}}"
                        formControlName="startDate"
                      />
                      <input
                        matEndDate
                        placeholder="{{'FinishDate'|translate}}"
                        formControlName="finishDate"
                      />
                    </mat-date-range-input>
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <mat-error
                      *ngIf="
                      createAppointmentsForm.get('startDate').hasError('required') &&
                      createAppointmentsForm.get('startDate').touched
                      "
                    >
                    {{'DateRange'|translate}} {{'Required'|translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>{{'Type'|translate}}</mat-label>
                    <mat-select
                      formControlName="protocolTypeId"
                      required
                    >
                      <mat-option
                        *ngFor="let protocolType of protocolTypes"
                        [value]="protocolType.id"
                      >
                        {{ protocolType.typeName }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                      createAppointmentsForm.get('protocolTypeId').hasError('required') &&
                      createAppointmentsForm.get('protocolTypeId').touched
                      "
                    >
                    {{'Type'|translate}} {{'Required'|translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>{{'Department'|translate}}</mat-label>
                    <mat-select
                      #mySelect
                      (selectionChange)="onOptionsSelected(mySelect.value)"
                      formControlName="departmentId"
                      required
                    >
                      <mat-option
                        *ngFor="let department of departments"
                        [value]="department.id"
                      >
                        {{ department.departmentName }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                      createAppointmentsForm.get('departmentId').hasError('required') &&
                      createAppointmentsForm.get('departmentId').touched
                      "
                    >
                    {{'Department'|translate}} {{'Required'|translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <ng-container *ngIf="doctors; else elseTemplate">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>{{'Doctor'|translate}}</mat-label>
                      <mat-select formControlName="doctorId">
                        <mat-option *ngFor="let doctor of doctors" [value]="doctor.id"
                          >{{ doctor.speciality }} {{ doctor.name }}
                          {{ doctor.surName }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                        createAppointmentsForm.get('doctorId').hasError('required') &&
                        createAppointmentsForm.get('doctorId').touched
                        "
                      >
                      {{'Doctor'|translate}} {{'Required'|translate}}
                      </mat-error>
                    </mat-form-field>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>{{'BeforeDepartment'|translate}}</mat-label>
                      <mat-select [disabled] formControlName="doctorId">
                        <mat-option
                          [disabled]
                          *ngFor="let doctor of doctors"
                          [value]="doctor.id"
                        >
                          {{ doctor.name }} {{ doctor.surName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </ng-template>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'StartTime'|translate}}</mat-label>
                    <input type="time" matInput formControlName="startTime"/>
                    <mat-error
                      *ngIf="
                      createAppointmentsForm.get('startTime').hasError('required') &&
                      createAppointmentsForm.get('startTime').touched
                      "
                    >
                    {{'StartTime'|translate}} {{'Required'|translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'FinishTime'|translate}}</mat-label>
                    <input type="time" matInput formControlName="finishTime"/>
                    <mat-error
                      *ngIf="
                      createAppointmentsForm.get('finishTime').hasError('required') &&
                      createAppointmentsForm.get('finishTime').touched
                      "
                    >
                    {{'FinishTime'|translate}} {{'Required'|translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>{{'RangeMinutes'|translate}}</mat-label>
                    <input type="number" matInput formControlName="rangeMinutes"/>
                    <mat-error
                      *ngIf="
                      createAppointmentsForm.get('rangeMinutes').hasError('required') &&
                      createAppointmentsForm.get('rangeMinutes').touched
                      "
                    >
                    {{'RangeMinutes'|translate}} {{'Required'|translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button
                    class="mr-3"
                    [disabled]="!createAppointmentsForm.valid"
                    mat-raised-button
                    color="primary"
                  >
                  {{'CreateAppointmentList'|translate}}
                  </button>
                  <button type="button" mat-button>{{'Cancel'|translate}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
