<div class="container">
  <h3 mat-dialog-title>{{'DeleteConfirm'|translate}}</h3>
  <div mat-dialog-content>
    <ul class="clearfix">
      <li>
        <p>
          <span class="font-weight-bold">{{'Department'|translate}}: </span
          >{{ data.department.departmentName }}
        </p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold">{{'Speciality'|translate}}: </span>
          {{ data.doctor.speciality }}
        </p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold">{{'DoctorName'|translate}}: </span
          >{{ data.doctor.name }}
        </p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold">{{'DoctorSurName'|translate}}: </span
          >{{ data.doctor.surName }}
        </p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold">{{'IdentityNumber'|translate}}: </span
          >{{ data.doctor.identityNumber }}
        </p>
      </li>

      <li>
        <p>
          <span class="font-weight-bold">{{'PhoneNumber'|translate}}: </span
          >{{ data.doctor.phone }}
        </p>
      </li>
    </ul>
  </div>
  <div mat-dialog-actions class="mb-1">
    <button
      mat-flat-button
      color="warn"
      (click)="confirmDelete()"
    >
    {{'Delete'|translate}}
    </button>
    <button mat-flat-button (click)="onNoClick()" tabindex="-1">{{'Cancel'|translate}}</button>
  </div>
</div>
