<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <!-- <img [src]="patient.photoUrl" alt="avatar" /> -->
          <img src="assets/images/user/user1.jpg" alt="avatar">
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 p-l-10 font-17">
              {{ dialogTitle }}
            </div>
          </div>
        </div>
      </div>
      <button
        mat-icon-button
        (click)="dialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="processForm">
                <form
                class="register-form m-4"
                [formGroup]="processForm"
              >
              <ng-template matStepLabel>İşlem</ng-template>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>İşlem Adı</mat-label>
                      <input
                        matInput
                        formControlName="name"
                        required
                      />
                      <mat-icon matSuffix>person</mat-icon>
                      <mat-error
                        *ngIf="processForm.get('name').hasError('required')"
                      >
                        İşlem adı gereklidir
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>İşlem Grubu</mat-label>
                        <mat-select formControlName="processGroupId" required>
                          <mat-option *ngFor="let processGroup of processGroups" [value]="processGroup.id"> {{processGroup.name}} </mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="processForm.get('processGroupId').hasError('required')&&
                          processForm.get('processGroupId').touched"
                        >
                          İşlem grubu seçilmelidir
                        </mat-error>
                      </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <div class="m-b-20">
                        <mat-label>Laboratuvar mı?</mat-label>
                        <mat-radio-group
                          aria-label="Seçiniz"
                          formControlName="isLab"
                          required
                        >
                          <mat-radio-button [value]="true">Evet</mat-radio-button>
                          <mat-radio-button [value]="false">Hayır</mat-radio-button>
                          <mat-error
                            *ngIf="
                              processForm.get('isLab').hasError('required') &&
                              processForm.get('isLab').dirty
                            "
                          >
                            Lütfen seçiniz
                          </mat-error>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <div class="m-b-20">
                          <mat-label>Radyoloji mi?</mat-label>
                          <mat-radio-group
                            aria-label="Seçiniz"
                            formControlName="isRad"
                            required
                          >
                            <mat-radio-button [value]="true">Evet</mat-radio-button>
                            <mat-radio-button [value]="false">Hayır</mat-radio-button>
                            <mat-error
                              *ngIf="
                                processForm.get('isRad').hasError('required') &&
                                processForm.get('isRad').dirty
                              "
                            >
                            Lütfen seçiniz
                            </mat-error>
                          </mat-radio-group>
                        </div>
                      </div>
                  </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Maliyet</mat-label>
                      <input
                        matInput
                        formControlName="cost"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Dr.Prim Oranı</mat-label>
                      <input
                        matInput
                        formControlName="doctorRatio"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Vergi Oranı</mat-label>
                      <input matInput type="number" formControlName="taxRatio"/>
                    </mat-form-field>
                  </div>
                </div>
                <div>
                    <button mat-raised-button matStepperNext color="primary"
                      [disabled]="!processForm.valid">Sonraki</button>
                  </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="processInstitueForm">
                <form
                class="register-form m-4"
                [formGroup]="processInstitueForm"
              >
              <ng-template matStepLabel>Diğer Bilgiler</ng-template>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>İşlem Ücreti</mat-label>
                      <input
                        matInput
                        formControlName="price"
                        required
                      />
                      <mat-icon matSuffix>person</mat-icon>
                      <mat-error
                        *ngIf="processInstitueForm.get('price').hasError('required')"
                      >
                      İşlem ücreti gereklidir
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Kurum</mat-label>
                        <mat-select formControlName="institueId" required>
                          <mat-option *ngFor="let institution of institutions" [value]="institution.id"> {{institution.institutionName}} </mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="processInstitueForm.get('institueId').hasError('required')&&
                          processInstitueForm.get('institueId').touched"
                        >
                          Kurum seçilmelidir
                        </mat-error>
                      </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>TTB Katsayısı</mat-label>
                      <input matInput formControlName="tTBPercent"/>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>TTB Faktörü</mat-label>
                      <input matInput formControlName="tTBFactor"/>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <div class="example-button-row">
                        <button
                          mat-raised-button
                          color="primary"
                          [type]="submit"
                          [disabled]="!processInstitueForm.valid"
                          [mat-dialog-close]="1"
                          (click)="confirmAdd()"
                        >
                          Kaydet
                        </button>
                        <button
                          mat-raised-button
                          color="warn"
                          (click)="onNoClick()"
                          tabindex="-1"
                        >
                          İptal
                        </button>
                      </div>
                    </div>
                  </div>
              </form>
            </mat-step>
          </mat-horizontal-stepper>
    </div>
  </div>
  