<section *ngIf="department" class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style">
              <li class="breadcrumb-item">
                <h4 class="page-title">Hasta Bilgilerini Düzenle</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> Anasayfa</a
                >
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a
                  routerLink="/admin/patients/all-patients"
                  onClick="return false;"
                  >Hastalar</a
                >
              </li>
              <li class="breadcrumb-item active">Düzenle</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>
                <strong
                  >{{ department.departmentName | uppercase
                  }} Bilgilerini Düzenle</strong
                >
              </h2>
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
                
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3">
                      <mat-label>Adı</mat-label>
                      <input matInput formControlName="departmentName" required />
                      <mat-icon matSuffix>face</mat-icon>
                      <mat-error
                        *ngIf="
                        departmentForm.get('departmentName').hasError('required') &&
                        departmentForm.get('departmentName').touched
                        "
                      >
                        Ad alanının girilmesi gereklidir
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button
                      class="mr-3"
                      [disabled]="!departmentForm.valid"
                      mat-raised-button
                      color="primary"
                    >
                      Kaydet
                    </button>
                    <button type="button" mat-button>İptal</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  